<p>SPARQL query buildER for JavaScript/TypeScript which offers a fluent interface to help you construct queries and prevent errors by malformed patterns.</p>
<p>SPARQLER is a part of the <a href="https://carbonldp.com/">CarbonLDP™</a> family.</p>
<a class="main-logo" href="https://carbonldp.com">
    <img class="ui big image centered" src="<%= require('/engine-assets/images/carbon-ldp-logo.png') %>">
</a>

<div class="info-cards">
    <a class="info-cards__card" href="{{ mainClass }}">
        <div class="ui icon message">
            <i class="code icon"></i>
            <div class="content">Main Class</div>
        </div>
    </a>
    <a class="info-cards__card" href="https://carbonldp.com/documentation/javascript-sdk/querying/">
        <div class="ui icon message">
            <i class="book icon"></i>
            <div class="content">Querying with the<br>Carbon LDP SDK</div>
        </div>
    </a>
    <a class="info-cards__card" href="https://github.com/{{ git.info.owner }}/{{ git.info.repo }}/tree/{{ git.version.isSnapshot and 'master' or git.version.raw }}/">
        <div class="ui icon message">
            <i class="github icon"></i>
            <div class="content">Source Code</div>
        </div>
    </a>
</div>